div {
    
    background-color: white;
    padding: 50px;
    text-align: center;
    font-size: 200%;
}


h1{
    color: rgb(0, 0, 0);

}

h2{
    color: red;
    text-align: center;
}

body {
    background-color: black;
    border-color: red;
    border-style: groove;
    border-width: 50%;
}

a {
    color: yellow;
    display: block; 
    text-decoration:double
}

.timao {
    
    text-align: right;

}

#img1 {

    display: inline-block;

}